.container {
    max-width: 1200px;
    margin: 0 auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    }
   .menu {
      width: 100%;
      background: rgb(73, 111, 214);
      box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.1);
    }

    .menu-flex {
      display: flex;
      align-items: center;
    }

    .menu-column {
      display: flex;
      align-items: center;
      width: 50%;
      justify-content: flex-start;
    }

    .menu-column.menu-second-column {
      justify-content: flex-end;
    }

    .menu-nav ul {
      display: flex;
      list-style: none;
      gap: 10px;
    }
    .menu-nav ul li a {
      text-decoration: none;
      color: #ffffff;
    }
    .menu-link-button {
      text-decoration: none;
      height: 48px;
      background-color: #ff5100;
      color: rgb(255, 255, 255);
      padding: 0 40px;
      display: flex;
      align-items: center;
      border-radius: 4px;
    }
    .logo {
        color: #ffffff;
    }
    .products-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap:wrap;
        background-color: rgb(230, 230, 230);
        margin:16px;
        color:rgb(0, 0, 0)
    }
    .nav {
        background-color: rgb(255, 255, 255);
        width: 24%;
        margin-bottom: 16px;
        height: 325px;
        border-radius: 10px;
        text-align: center;
    }
    .nav:hover{
      box-shadow: 0px 0px 5px 1px rgba(151,151,151,1);
      cursor: pointer;
    }
    
    img {
        width: 130px;
        height:130px;
    }
    body {
        background-color: rgb(230, 230, 230);
    }
    p{
        margin: 16px;
    }
    button {
        color: white;
        background-color: #ff5100;
        width: 250px;
        height: 40px;
        font-size: 16px;
        border-radius: 5px;
        border: none;
        text-decoration: none;
}
a{
        color: white;
        text-decoration: none;
        overflow: auto;
}
.price{
  color: #ff5100;
  font-size: 20px;
  font-weight: 700;
  text-align: start;
}
.vist {
  color: rgb(133, 133, 133);
  font-size: 13px;
  font-weight: 600;
  text-align: start;
}
.name {
  font-weight: 600;
  text-align: start;
}
    